<ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
    <!--begin::Item-->
    <li class="nav-item mb-2" id="kt_demo_panel_toggle" container="body" tooltip="Check out more demos"
        placement="left">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-success btn-hover-success" href="javascriopt:void(0)">
            <i class="flaticon2-drop"></i>
        </a>
    </li>
    <!--end::Item-->

    <!--begin::Item-->
    <li class="nav-item mb-2" tooltip="Layout Builder" container="body" placement="left">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary"
            href="javascriopt:void(0)">
            <i class="flaticon2-gear"></i>
        </a>
    </li>
    <!--end::Item-->

    <!--begin::Item-->
    <li class="nav-item mb-2" tooltip="Documentation" container="body" placement="left">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-warning btn-hover-warning"
            href="javascriopt:void(0)">
            <i class="flaticon2-telegram-logo"></i>
        </a>
    </li>
    <!--end::Item-->

    <!--begin::Item-->
    <li class="nav-item" id="kt_sticky_toolbar_chat_toggler" container="body" tooltip="Chat Example"
        placement="left">
        <a class="btn btn-sm btn-icon btn-bg-light btn-icon-danger btn-hover-danger" href="javascriopt:void(0)">
            <i class="flaticon2-chat-1"></i>
        </a>
    </li>
    <!--end::Item-->
</ul>