<div class="d-flex flex-column-fluid">
    <div class=" container ">
        <!--begin::Dashboard-->
        <!--begin::Row-->
        <app-quick-access-tiles></app-quick-access-tiles>
        <!--end::Row-->

        <!--begin::Row-->
        <div class="row">
            <div class="col-xl-8">
                <!--begin::Advance Table Widget 2-->
                <app-new-arrivals></app-new-arrivals>
                <!--end::Advance Table Widget 2-->
            </div>
            <div class="col-xl-4">
                <!--begin::List Widget 2-->
                <app-people></app-people>
                <!--end::List Widget 2-->
            </div>
        </div>
        <!--end::Row-->

        <!--end::Dashboard-->
    </div>
</div>